.card {
  margin-bottom: 0.2rem;
  padding: 0.2em;
}

.card.grid {
  width: 50%;
}

.card.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px lightgray;
  transition: all 300ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 40%;
  height: 100%;
}

.title {
  font-size: 0.8rem;
}

.channelTitle {
  font-size: 0.6rem;
  color: gray;
}
